# Python virtual env
venv/
.venv/
__pycache__/
*.pyc

# Ignore toàn bộ data_raw
data_raw/*

# Nhưng cho phép file company
!data_raw/company.xlsx

# Không cho phép thư mục stock
data_raw/stock/

# Chỉ ignore file output không cần production
outputs/
Reports/
*.pbix
*.pbit


# Node
node_modules/
dist/

# env
.env