# Python virtual env
venv/
.venv/
__pycache__/
*.pyc

# Raw research data (không push)
data_raw/

# Chỉ ignore file output không cần production
outputs/
Reports/
*.pbix
*.pbit


# Node
node_modules/
dist/

# env
.env